@use '~/scss/fonts.scss';
@import '~/scss/tailwind.css';

.v-application {
  font-family: 'Inter', sans-serif;
}

.v-skeleton-loader {
  .v-skeleton-loader__heading {
    margin: 0;
  }
}

.v-textarea .v-field__input {
  -webkit-mask-image: none !important;
  mask-image: none !important;
}

.v-field .v-text-field__prefix, .v-field .v-text-field__suffix {
  padding-top: 6px;
  padding-bottom: 6px;
}

.v-text-field__suffix {
  padding-inline-start: 7px;
}

// Page/Layout transition
.layout-enter-active,
.layout-leave-active {
  transition: all 0.15s;
}
.layout-enter-from {
  opacity: 0.2;
}
.layout-leave-to {
  opacity: 0.1;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.15s;
}
.page-enter-from {
  opacity: 0.2;
}
.page-leave-to {
  opacity: 0.1;
}
