@use 'vuetify/settings' with (
  $body-font-family: ('Montserrat', sans-serif),
  $button-colored-disabled: true,

  $button-height: 36px,
  $button-density: ('default': 0, 'comfortable': -2, 'compact': -3),
  $button-icon-density: ('default': 0, 'comfortable': -2, 'compact': -3),

  $border-radius-root: 8px,

  $divider-opacity: 0.9,

  $skeleton-loader-gutter: 12px,
  $skeleton-loader-avatar-height: 36px,
  $skeleton-loader-avatar-margin: 6px 12px,
  $skeleton-loader-avatar-width: 36px,

  $input-control-height: 36px,
  $input-line-height: 1,
  $input-font-size: 14px,

  $field-font-size: 14px,
  $field-control-height: 36px,
  $field-control-padding-top: 4px,
  $field-control-padding-bottom: 4px,

  $field-control-padding-start: 14px,
  $field-control-padding-end: 14px,

  $field-input-padding-top: 9.75px,
  $field-input-padding-bottom: 9.75px,

  $grid-breakpoints: (
    xs: 0,
    md: 834px,
  ),

  $typography: (
    'button': (
      'size': 1rem,
      'weight': 500,
      'line-height': 2.25rem,
      'letter-spacing': 0.8px,
      'text-transform': none
    ),
  ),
);
